<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetfun.dao.BlogTypeDao">
    <resultMap id="BaseResultMap" type="com.sweetfun.domain.BlogType">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="icon" jdbcType="VARCHAR" property="icon"></result>
    </resultMap>

    <sql id="Base_Column_List">
        select id,name,icon
    </sql>

    <insert id="insert" parameterType="com.sweetfun.domain.BlogType">
        insert into myblog.blog_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="icon != null">
                icon,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.sweetfun.domain.BlogType">
        update myblog.blog_type
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="icon != null">
                icon = #{icon}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from myblog.blog_type where id = #{id}
    </delete>

    <select id="findBlogTypeById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from myblog.blog_type
        where id = #{id}
    </select>

    <select id="getAllBlogType" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from myblog.blog_type
    </select>

</mapper>