<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetfun.dao.RegisterDao">
    <resultMap id="BaseResultMap" type="com.sweetfun.domain.User">
        <id column="id" jdbcType="INTEGER" property="userId"></id>
        <result column="username" jdbcType="VARCHAR" property="username"></result>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"></result>
        <result column="birthday" jdbcType="DATE" property="birthday"></result>
        <result column="location" jdbcType="VARCHAR" property="location"></result>
        <result column="sex" jdbcType="VARCHAR" property="sex"></result>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"></result>
        <result column="role" jdbcType="INTEGER" property="role"></result>
    </resultMap>
    <sql id="Base_Column_List">
        select id,username,password,avator,birthday,location,sex,introduce, role
    </sql>

    <insert id="Register" parameterType="com.sweetfun.domain.User">
        insert into myblog.user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
            <if test="role != null">
                role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="avatar != null">
                #{avatar},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="location != null">
                #{location},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="introduce != null">
                #{introduce},
            </if>
            <if test="role != null">
                #{role},
            </if>
        </trim>
    </insert>

</mapper>